{% extends 'base.html.twig' %}

{% block title %}Commenter un repository Github{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        form {display: flex; flex-direction: column;}
    </style>

    <div class="example-wrapper">
        <h1>Laisser un commentaire</h1>
        <div  id="commentaire_form">

            {{ form_start(form) }}
            {{ form_label(form.githubUser,'Utilisateur Github') }}
            {{ form_widget(form.githubUser) }}

            {{ form_label(form.repositoryName, 'Nom du dépôt') }}
            {{ form_widget(form.repositoryName) }}
            {{ form_label(form.commentText, 'Commentaire') }}
            {{ form_widget(form.commentText) }}
            {{ form_row(form.Commenter) }}
            {{ form_end(form) }}

        </div>
        <div class="commentaires">
            <h2>Les commentaire</h2>
            {% for commentaire in commentaires %}
            <div class="commentaire">
                <p style="font-weight: bold">Dépôt: {{ commentaire.repositoryName }}</p>
                <p>{{ commentaire.commentText }}</p>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
